a {
	text-decoration: none;
}

/*  JAPANESE FONT STACK

	This is a basic Japanese language font stack. This will ensure that Japanese text will render with
	the most common Japanese font already available to the user. As Japanese fonts tend to be very large
	to account for the vast number of kanji, it is more common to use a font stack such as this than
	to try to load a web font (although they do exist as well)  */
.ja {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "Roboto", sans-serif;
}

.tiny-space {
	font-size: 1px;
}

/* 
	HOME SECTION
					*/
					
.home-section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 91vh;
	width: 100%;
}

.home-section .mdl-card {
	max-width: 600px;
	width: 100%;
	padding: 2em;
	text-align: center;
}

.home-section h3 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.home-section h5 {
  position: relative;
  padding-top: 0px;
  margin-top: -10px;
  color: #717171;
  font-size: 16px;
}

.home-social {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 40px;
}
.home-social li {
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
}
.home-social li a:hover {
  text-decoration: none;
}

#talk-box {
  overflow: hidden;
  font-size: 2em;
  height: 1em;
}

/* 
	ABOUT SECTION
					*/

.about-section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	background-image: url("http://res.cloudinary.com/mca62511/image/upload/v1459296785/parallax1_voqcc8.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.about-card-square {
	width: 100%;
	max-width: 600px;
}


/* 
	PROJECTS SECTION
					*/

.projects-section {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 3em;
}

.projects-section .mdl-grid {
	max-width: 800px;
	width: 100%;
}

.project-tekkamikey .mdl-card__media {
	background-image: url("https://mca62511.github.io/tekkamikey/img/share.png");
	background-size: cover;
	background-position: center;
	height: 30vh;
}

.project-reddit-retractable-sidebar .mdl-card__media {
	background-image: url("https://mca62511.github.io/reddit-retractable-sidebar/share.png");
	background-size: cover;
	background-position: center;
	height: 30vh;
}

.project-1996 .mdl-card__media {
	background-image: url("../img/1996-preview.png");
	background-size: cover;
	background-position: center;
	height: 30vh;
}

.project-twitch .mdl-card__media {
	background-image: url("https://mca62511.github.io/twitch-channel-monitor/images/share.jpg");
	background-size: cover;
	background-position: center;
	height: 30vh;
}

.project-simon .mdl-card__media {
	background-image: url("../img/simon-preview.png");
	background-size: cover;
	background-position: center;
	height: 30vh;
}

.project-task-speedometer .mdl-card__media {
	background-image: url("http://res.cloudinary.com/mca62511/image/upload/v1460950171/custompreview_c2a2dh.png");
	background-size: cover;
	background-position: center;
	height: 30vh;
}

.project-github-redirect .mdl-card__media {
	background-image: url("../img/github-redirect-share.png");
	background-size: cover;
	background-position: center;
	height: 30vh;
}

.project-tic-tac-toe .mdl-card__media {
	background-image: url("https://mca62511.github.io/tic-tac-toe/img/share.png");
	background-size: cover;
	background-position: center;
	height: 30vh;
}

.project-weather .mdl-card__media {
	background-image: url("http://mca62511.github.io/Weather-by-Reference-Point/images/share.jpg");
	background-size: cover;
	background-position: center;
	height: 30vh;
}

.project-calc .mdl-card__media {
	background-image: url("https://mca62511.github.io/JavaScript-Calculator/images/share.jpg");
	background-size: cover;
	background-position: center;
	height: 30vh;
}

.project-pomodoro .mdl-card__media {
	background-image: url("https://mca62511.github.io/pomodoro/img/share.jpg");
	background-size: cover;
	background-position: center;
	height: 30vh;
}

			
/* 
	CONTACT SECTION
					*/
					
.contact-section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/502285/writing.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.contact-card {
	width: 100%;
	max-width: 600px;
}