#main-container {
    margin: 2em;
}

h1,
h2,
h3,
h4 {
    font-family: Roboto, sans-serif;
}

p {
    font-family: Domine, serif;
    font-size: 18px;
    line-height: 1.5;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

li {
    line-height: 3;
}

a:link,
a:active,
a:visited {
    color: #E91E63;
    text-decoration: none;
}

a:hover {
    color: #FF3E83;
}
